NODE_ENV=test
PORT=3002
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/fitness_member_management_test
POSTGRES_DB=fitness_member_management_test
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432